<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.suikajy.jisdkdemo">

    <permission android:name="com.suikajy.jisdkdemo.permission.JPUSH_MESSAGE"
        android:protectionLevel="signature" />

    <!-- Required -->
    <uses-permission android:name="com.suikajy.jisdkdemo.permission.JPUSH_MESSAGE" />
    <uses-permission android:name="android.permission.RECEIVE_USER_PRESENT" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.WAKE_LOCK" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.READ_EXTERNAL_STORAGE" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.MOUNT_UNMOUNT_FILESYSTEMS" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.WRITE_SETTINGS" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />


    <!-- Optional. Required for location feature -->
    <uses-permission android:name="android.permission.SYSTEM_ALERT_WINDOW" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_LOCATION_EXTRA_COMMANDS" />
    <uses-permission android:name="android.permission.CHANGE_WIFI_STATE" />
    <uses-permission android:name="android.permission.CHANGE_NETWORK_STATE" />
    <uses-permission android:name="android.permission.GET_TASKS" />


    <application
        android:allowBackup="true"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:roundIcon="@mipmap/ic_launcher"
        android:supportsRtl="true"
        android:name=".application.IMDebugApplication"
        android:theme="@style/AppTheme">


        <!-- Required SDK 核心功能-->
        <!-- 可配置android:process参数将PushService放在其他进程中 -->
        <service
            android:name="cn.jpush.android.service.PushService"
            android:enabled="true"
            android:exported="false" android:process=":pushcore">
            <intent-filter>
                <action android:name="cn.jpush.android.intent.REGISTER" />
                <action android:name="cn.jpush.android.intent.REPORT" />
                <action android:name="cn.jpush.android.intent.PushService" />
                <action android:name="cn.jpush.android.intent.PUSH_TIME" />

            </intent-filter>
        </service>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.PushReceiver"
            android:enabled="true" android:exported="false" android:process=":pushcore">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.android.intent.NOTIFICATION_RECEIVED_PROXY" />
                <!-- Required 显示通知栏 -->
                <category android:name="com.suikajy.jisdkdemo" />
            </intent-filter>
            <intent-filter>
                <action android:name="android.intent.action.USER_PRESENT" />
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
            <!-- Optional -->
            <intent-filter>
                <action android:name="android.intent.action.PACKAGE_ADDED" />
                <action android:name="android.intent.action.PACKAGE_REMOVED" />

                <data android:scheme="package" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.im.android.helpers.IMReceiver"
            android:enabled="true"
            android:exported="false">
            <intent-filter android:priority="1000">
                <action android:name="cn.jpush.im.android.action.IM_RESPONSE" />
                <action android:name="cn.jpush.im.android.action.NOTIFICATION_CLICK_PROXY" />

                <category android:name="com.suikajy.jisdkdemo" />
            </intent-filter>
        </receiver>

        <!-- Required SDK核心功能-->
        <receiver
            android:name="cn.jpush.android.service.AlarmReceiver"
            android:exported="false" />


        <!-- Required since JCore 1.1.7. SDK 核心功能-->
        <provider
            android:name="cn.jpush.android.service.DataProvider"
            android:authorities="com.suikajy.jisdkdemo.DataProvider"
            android:exported="true" />

        <!-- Required. For publish channel feature -->
        <!-- JPUSH_CHANNEL 是为了方便开发者统计APK分发渠道。-->
        <!-- 例如: -->
        <!-- 发到 Google Play 的APK可以设置为 google-play; -->
        <!-- 发到其他市场的 APK 可以设置为 xxx-market。 -->
        <!-- 目前这个渠道统计功能的报表还未开放。-->
        <meta-data
            android:name="JPUSH_CHANNEL"
            android:value="developer-default" />
        <!-- Required. AppKey copied from Portal -->
        <meta-data
            android:name="JPUSH_APPKEY"
            android:value="ef0828f60ca84935677f0441" />

        <activity
            android:name="com.suikajy.jisdkdemo.RegisterAndLoginActivity"
            android:launchMode="singleTask">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.RegisterActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.SettingMainActivity" />
        <activity
            android:name="com.suikajy.jisdkdemo.activity.TypeActivity"
            android:launchMode="singleTask" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.InfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.AssertEqualsActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.GetUserInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.UpdatePassword" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.UpdateUserInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateSigTextMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.GroupInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.CreateGroupActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.GetGroupInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.imagecontent.ImageContentActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.ConversationActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.AddRemoveGroupMemberActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.UpdateGroupInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.ExitGroupActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.GetLocalGroupMembersActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateGroupTextMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateSigCustomMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateSigImageMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.ShowMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateGroupImageMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateSigVoiceMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.ShowCustomMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateGroupCustomMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateGroupVoiceMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.notify.NotifyTypeActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.GetBlackListActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.AddRemoveBlackListActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.UpdateUserAvatar" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.UpdateUserExtras" />
        <activity android:name="com.suikajy.jisdkdemo.activity.notify.ShowGroupNotificationActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.imagecontent.CreateImageContentAsyncFile" />
        <activity android:name="com.suikajy.jisdkdemo.activity.imagecontent.ShowDownloadPathActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.imagecontent.CreateImageContentAsyncBitmap" />
        <activity android:name="com.suikajy.jisdkdemo.activity.messagecontent.SetGetStringExtraActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.messagecontent.SetGetNumberExtraActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.messagecontent.SetGetBooleanExtraActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.messagecontent.SetGetExtraActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.GetConversationInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.OrderMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.IsShowNotifySigActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.DeleteConversationActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.NoDisturbListActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.setting.ShowLogoutReasonActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateSendFileActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.friend.FriendContactManager" />
        <activity android:name="com.suikajy.jisdkdemo.activity.friend.AddFriendActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.friend.ShowFriendReasonActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateLocationMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.groupinfo.BlockedGroupMsgActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.ShowDownloadVoiceInfoActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.showinfo.ShowMyInfoUpdateActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.RetractMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.ForwardMessageActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.conversation.MessageReceiptActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.CreateTransCommandActivity" />
        <activity android:name="com.suikajy.jisdkdemo.activity.createmessage.ShowTransCommandActivity" />
    </application>

</manifest>